################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/.vs
*/obj
/example/Calendar/obj
/src/TypeChat.CSharp/obj
~/.vs
/.vs
/src/TypeChat.CSharp/.vs
