################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/TypeChat.CSharp/.vs
/src/TypeChat.CSharp/obj
